<?xml version="1.0"?>
<launch>
  <node name="uvc_camera" pkg="uvc_camera" type="uvc_camera_node" />
  <node name="likes_and_dislikes" pkg="banana_and_nasu" type="likes_and_dislikes.py" required="true" output="screen" />
  <node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view" args="/image_raw" required="true" />
</launch>
